QPushButton{
	border-style: none;
	color: #000000;
	padding: 1px 10px 1px 10px;	
	min-height: 25px;
	min-width: 60px;
	border-radius:5px;
	background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #454648, stop:1 #7A7A7A); 
}

QPushButton:hover{ 
	background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #B8B8B8, stop:1 #D6D6D6);
}

QPushButton:pressed{ 
	background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #454648, stop:1 #7A7A7A);
}

QPushButton#ZoomIn,QPushButton#ZoomOut,QPushButton#ZoomFit,QPushButton#FullScreen,QPushButton#Prev,QPushButton#Next,QPushButton#RotateLeft,QPushButton#RotateRight,QPushButton#Delete,QPushButton#Info,QPushButton#FlipV,QPushButton#FlipH,QPushButton#Play{
	border-style: none;
	border: 1;
	color: #F0F0F0;
	padding: 2px;	
	min-height: 25px;
	min-width: 25px;
	border-radius:5px;
	background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #B8B8B8, stop:1 #D6D6D6); 
}

QPushButton#ZoomIn:hover,QPushButton#ZoomOut:hover,QPushButton#ZoomFit:hover,QPushButton#FullScreen:hover,QPushButton#Prev:hover,QPushButton#Next:hover,QPushButton#RotateLeft:hover,QPushButton#RotateRight:hover,QPushButton#Delete:hover,QPushButton#Info:hover,QPushButton#FlipV:hover,QPushButton#FlipH:hover,QPushButton#Play:hover{ 
	background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #636363, stop:1 #5C5C5C);
}

QPushButton#ZoomIn:pressed,QPushButton#ZoomOut:pressed,QPushButton#ZoomFit:pressed,QPushButton#FullScreen:pressed,QPushButton#Prev:pressed,QPushButton#Next:pressed,QPushButton#RotateLeft:pressed,QPushButton#RotateRight:pressed,QPushButton#Delete:pressed,QPushButton#Info:pressed,QPushButton#FlipV:pressed,QPushButton#FlipH:pressed,QPushButton#Play:pressed{ 
	background: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #B8B8B8, stop:1 #D6D6D6);
}

.QFrame{
	border:1px solid #454648;
	border-radius:5px;
}


QMenuBar {
    background-color: #5E6D78;
    font-weight: bold;
    min-height: 21px;
}

QMenuBar::item {
    spacing: 20px; /* spacing between menu bar items */
    padding: 1px 5px;
    background: transparent;
    color: white;
}

QMenuBar::item:selected { /* when selected using mouse or keyboard */
    background: #1582C3;
}

QMenuBar::item:pressed {
    background: #1582C3;
}



QMenu {
    background-color: #5E6D78;
    border-style: none;
    font-weight: bold;
}

QMenu::item {
		background: transparent;
    color: white;
}

QMenu::item:selected {
    background: #454648;
}

QMenu::separator {
    height: 1px;
    background: white;
}


QStatusBar::item {
     background-color: #454648;
     border-style: none;
}

QLabel#label{
	border-radius:5px;
	padding: 2px 20px 3px 20px;
	background: transparent;
	border-style:none;
	color: white;
	min-height: 13px;
}

QLabel#photo{
	padding: 1px 1px 1px 1px;
	border-style: solid #454648;
}



QDialog{
	background-color: lightgray;
}
